body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #3E823F;
}

.container .esquerda{
    width: 50%;
    height: 100%;
}

.container .direita{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.container .direita .topo h1{
font-size: 45px;
color: #3E823F;
text-transform: uppercase;

}

.container .direita .meio{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.container .direita .meio .campo{
display: flex;
flex-direction: column;
}

.container .direita .meio .campo label{
    font-weight: bold;
}


.container .direita .meio .campo input{
    border: none;
    background-color: rgb(196, 196, 196);
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;

}

.container .direita .meio .esqueci-senha{
    display: flex;
    justify-content: space-between;
}

.container .direita .fim{
    width: 400px;
}

.container .direita .fim button{
    width: 100%;
    background-color: #3E823F;
    border-radius: 5%;
    color: white;
    padding: 8px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.container .direita .fim .novo-usuario{
    display: flex;
    align-items: center;
    gap: 94px;
}